@{
    ViewData["Title"] = "Organisation list";
}

<h1>Paged and sorted Organisations as Datatable</h1>

<table id="datatable" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Trading name</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<div>
    @Html.ActionLink("Home", "Index", "Home")
</div>

@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').DataTable({
                "searching": false,
                "processing": true,
                "serverSide": true,
                "ajax": "/OrganisationPagedSortedTable/DatatableJson",
                "columns": [
                    { "data": "name" },
                    { "data": "tradingName" },
                    { "data": "dateCreated" }
                ]
            });
        });
    </script>
}