@model WebApplicationParty.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Parties</h1>

<table>
    <thead>
        <tr>
            <td>Name</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var party in Model.Parties)
        {
            <tr>
                <td>@party.Name</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Add person", "Index", "Person")
</div>
<div>
    @Html.ActionLink("Add organisation", "Index", "Organisation")
</div>